h1{
  color:blue;

}
#sidebar {
    background-color: #333232;
    width: 200px;
    height: 100%;
    margin-top: 150px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px
}
ul {
   padding: 0px;
   margin: 0px;
}

   li {
   text-style: none;
}

   ul li a {
   background-color: #262525;
   color: #ccc;
   border-bottom: 1px solid #111;
   border-right: 1px solid #111;
   border-top: 1px solid #111;
   display: block;
   width: 178.5px;
   padding: 10px;
   text-decoration: none;
}
