
.img-circle {
    border-radius: 50%;
}

#bildeboks{
	width:800px;
	height:200px;
  margin-left: 200px;
	display:block;
  position:absolute;
	top:50px;
  align-content: center;
}

#logoFB{
  width:50px;
  height:50px;
}
#logoIG{
  width:65px;
  height:60px;
}
#arnebilde{
  width:200px;
  height:250px;
}
#arnelink{
  width:100px;
	height:50px;
  margin-left: 250px;
	display:block;
  position:absolute;
	top:310px;
}
#arneIGlink{
  margin-left: 50px;
  margin-top: -53px;
}

#arneFBlink{
margin-left: 0px;
margin-top: 0px;
}
#kristofferlink{
  width:100px;
	height:50px;
  margin-left: 520px;
	display:block;
  position:absolute;
	top:310px;

}
#kristofferIGlink{
  margin-left: 50px;
  margin-top: -53px;
}

#kristofferFBlink{
margin-left: 0px;
margin-top: 0px;
}

#mortenlink{
  width:100px;
	height:50px;
  margin-left: 775px;
	display:block;
  position:absolute;
	top:310px;

}
#mortenIGlink{
  margin-left: 50px;
  margin-top: -53px;
}

#mortenFBlink{
margin-left: 0px;
margin-top: 0px;
}

#bildeArne{
  width:33%;
  height:200px;
  display:block;
  position: absolute;
  top:0px;
}

#arnebilde{
  width:200px;
  height:250px;
}

#bildeKristoffer{
  width:33%;
  height:200px;
  margin-left: 33%;
  display:block;
  position: absolute;
  top:0px;
}

#kristofferbilde{
width:200px;
height:250px;
}

#bildeMorten{
  width:33%;
  height:200px;
  margin-left: 66%;
  display:block;
  position: absolute;
  top:0px;
}

#mortenbilde{
  width:200px;
  height:250px;
}
